
/* Box */

body{
    margin: 0;
}

.box_colum_body{
    display: flex; 
    flex-direction: column;
    position: relative;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.box_colum{
    display: flex; 
    flex-direction: column;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-family: Poppins_Med;
    font-size: 20px;
    z-index: 1;
}

.box_row{
    display: flex; 
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.box_empty_height{
    height:100px;
    display:block;
}

.box_empty_width{
    width: 200px;;
    display:block;
}

@media (max-width: 1200px) {
    .box_adapt{
        display: flex; 
        flex-direction: column;
        position: relative;
        text-align: center;
        text-decoration: none;
        width: 100%;
        font-family: Poppins_Med;
        font-size: 20px;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .box_carte_3{
        width: fit-content;
    }
    .box_carte{
        width: 80%;
    }
}

@media (min-width: 1201px) {
    .box_adapt{
        display: flex; 
        flex-direction: row;
        position: relative;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        text-decoration: none;
        width: 100%;
        z-index: 1;
    }
    .box_box_carte{
        width: 30%;
    }
    .box_carte{
        width: 20%;
    }
}

.box_carte{
    padding: 20px;
    margin: 20px;
    display: flex; 
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), -10px -10px 20px rgba(255, 255, 255, 0.7);
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: black;
    height: 100%;
}

.carte_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius : 30px;
}

.image-container:hover .overlay-image{
    opacity: 0.2;
    transition: opacity 0.3s ease;
}

.box_input{
    border: solid 1px black;
    border-radius: 5px;
}

.box_shadow{
    width: -webkit-fill-available;
    gap: 5rem;
    margin: 5rem;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), -10px -10px 20px rgba(255, 255, 255, 0.7);
}

    