body {
    font-family: Suse_Light;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
#calendar {
    width: 90%;
    max-width: 800px;
    margin: auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#calendar th, #calendar td {
    width: 14.28%;
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
}
#calendar th {
    background-color: #014C73;
    color: white;
    font-weight: bold;
}

/* Styles pour les événements */
.event {
    background-color: #014C73;
    color: white;
    padding: 3px;
    margin: 2px 0;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.event:hover{
    background-color: rgb(255, 151, 0);;
    color: white;
}

/* Tooltip (info au survol) */
.tooltip {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    pointer-events: none;
    z-index: 1000;
}

.event-details {
    font-size: 0.8em;
    color: #555;
}