.logo{
    width : 150px;
    margin: 2em;
}

.illu_carte{
    margin: 15px;
    width: 3rem;
}

.illu_sports_page{
    margin: 5px;
    width: 10rem;
}

.photo_text{
    border-radius: 20px;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: fit-content; 
}

@media (max-width: 1200px) {
    .photo_text{
        width: 100%;
    }
}

@media (min-width: 1201px) {
    .photo_text{
        width: 40%;
    }
}

.image-hover {
    transition: transform 0.3s ease; /* Animation pour un effet lisse */
}

.image-hover:hover {
    transform: scale(1.1); /* Effet d'agrandissement en option */
}

.header_merch:hover{
    content: url('../assets/illu16.png'); /* Remplacez par l'URL de l'image au survol */
}