.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slide {
    width: 100%;
}

.fade {
    animation: fadeEffect 7s ease-in-out;
}

@keyframes fadeEffect {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.slide img {
    width: 100%;
    height: auto;
    max-height: 700px;
    object-fit: cover;
}