
/* importation de la police */

body{
    font-family: Suse_Light;
}


@font-face {
    font-family: "Suse_Medium";
    src: url("../assets/SUSE/SUSE-Medium") format("truetype");
}

@font-face {
    font-family: "Suse_Regular";
    src: url("../assets/SUSE/SUSE-Regular") format("truetype");
}

@font-face {
    font-family: "Suse_Light";
    src: url("../assets/SUSE/SUSE-Light") format("truetype");
}

h1{
    color: #014C73;
    font-family: Suse_Light;
    font-size: 50px;
}

h2{
    color: #014C73;
    text-align: center;
    font-family: Suse_Light;
    font-size: 25px;
}

h3{
    color: #014C73;
    font-family: Suse_Light;
    font-size: 25px;
}

h4{
    color: white;
    text-align: center;
}

.menu_title{
    color: #000;
    text-align: center;
    font-family: Suse_Light;
    cursor: pointer;
    border-radius: 15px;
    width: fit-content;
    padding: 12px;
    text-align: center;
    opacity: 0.6;
}

.menu_title:hover{
    opacity: 1;
    animation: slideIn 1s forwards;
}

a{
    text-decoration: none;
    color: #000;
}

.title_carte{
    color: #014C73;
    font-family: Suse_Light;
    font-size: larger;
    white-space: nowrap;
}

.text_carte{
    color: #000;
    font-family: Suse_Light;
}

.text_page{
    color: #000;
    font-family: Suse_Light;
    font-size: 20px;
    text-align: left;
}

/* Styles pour les écrans de petite taille (ex : téléphones) */
@media (max-width: 600px) {
    h1 {
        font-size: 15px;
    }
    h2{
        font-size: 15px;
    }
    .menu_title{
        font-size: 13px;
    }
}

/* Styles pour les écrans de taille moyenne (ex : tablettes) */
@media (min-width: 601px) and (max-width: 1024px) {
    h1 {
        font-size: 15px;
    }
    h2{
        font-size: 15px;
    }
    .menu_title{
        font-size: 15px;
    }
}

/* Styles pour les écrans larges (ex : ordinateurs de bureau) */
@media (min-width: 1025px) {
    h1 {
        font-size: 25px;
    }
    h2{
        font-size: 20px;
    }
    .menu_title{
        font-size: 20px;
    }
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    transform: translate(-50%, -50%);
    color: black;
    padding: 15px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 120%;
}

.image-container:hover .overlay-text {
    opacity: 1;
}